<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Report Leakage</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>
    <div class="logo">
        <h2>💧 Smart Water Guardian</h2>
    </div>
    <div class="menu-toggle" onclick="toggleMenu()">
       ☰
    </div>

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li>
            <button id="themeBtn" onclick="toggleTheme()">
            🌙
            </button>
    </li>
    </ul>
</nav>

<div class="report-container">

    <h1>Report Water Leakage</h1>
    {% if success %}
<p class="success-msg">
    {{ success }}
</p>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="flash {{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

    <form action="/report" method="POST" enctype="multipart/form-data">

        <input type="text" name="fullname" placeholder="Enter Full Name" required>

        <input
            type="tel"
            name="mobile"
            placeholder="Enter Mobile Number"
            maxlength="10"
            pattern="[0-9]{10}"
            title="Enter exactly 10 digit mobile number"
            required>

        <input type="text" name="address" placeholder="Enter Address" required>

        <input type="text" name="city" placeholder="Enter City" required>

        <select name="leakage_type" required>

            <option value="">Select Leakage Type</option>

            <option>Pipe Leakage</option>

            <option>Tank Overflow</option>

            <option>Road Leakage</option>

            <option>Water Supply Damage</option>

            <option>Other</option>

        </select>

        <textarea
            name="description"
            rows="5"
            placeholder="Describe the leakage..."
            required></textarea>
        <label>Upload Leakage Image</label>
        <input
            type="file"
            name="image"
            accept="image/*"
            required>


        <button type="submit">
            Submit Report
        </button>

    </form>

</div>

<script>

function toggleTheme(){

    document.body.classList.toggle("dark-mode");

    if(document.body.classList.contains("dark-mode")){

        localStorage.setItem("theme","dark");

        document.getElementById("themeBtn").innerHTML="☀";

    }else{

        localStorage.setItem("theme","light");

        document.getElementById("themeBtn").innerHTML="🌙";

    }

}

window.onload=function(){

    if(localStorage.getItem("theme")=="dark"){

        document.body.classList.add("dark-mode");

        const btn=document.getElementById("themeBtn");

        if(btn){
            btn.innerHTML="☀";
        }

    }

}

</script>
<script>

function toggleMenu(){

    document.querySelector(".menu").classList.toggle("active");

}

</script>
</body>

</html>